.idea
*.ipr
*.imr
*.iws
*.iml
*.sublime-project
*.sublime-workspace
.python-version

*.swp
*.DS_Store
__pycache__
*.pyc
*.pem
.sass-cache

*/config/staging.py
*/config/prod.py
gcp-service-account-key.json
*/*/.cache*
*/*/.coverage*
*/*/htmlcov*

tests
.gitignore
bitbucket-pipelines.yml

pytest.ini
README.md
requirements-test.txt
test3
.git
.dockerignore