.idea
*.ipr
*.imr
*.iws
*.iml
*.sublime-project
*.sublime-workspace
.python-version

*.swp
*.pyc
*.DS_Store
__pycache__
*.pem
.sass-cache

gcp-service-account-key.json
*.cache/
venv/
*.coverage
*htmlcov

.vscode
apidoc

**/dev.ini
**/staging.ini
**/prod.ini
